@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome!</h1>
        <div class="d-none d-lg-block">
            <img src="~/img/vlol_cover.jpg" style="width:100%;" />
        </div>
        <br /><br />
        <p>Welcome to the City of Salisbury's Virtual Letter of Life Project... To enter your information, click on <b>Register</b> in the top right hand corner. To access your information, click on <b>Login</b> instead.</p>
    </div>
